@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 900px;
    margin: auto;
    background-color: #e4e5f1;
    color: 	#484b6a;
    overflow: none;
}

/* Heading */
header {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

header h1 {
    font-size: 25px;
    font-weight: bolder;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 3px;
}

/* Contact */
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 10px;
}

#contact p {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

#logos {
    display: flex;
    justify-content: space-between;
}

#logos i {
    font-size: 40px;
    color: #484b6a;
}

#logos i:hover {
    color: #000;
}

